@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap'); 
*{
    color: #000;
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}
html{
    font-size: 13px;
    background:#f8f8f8;
}
/*스타일 초기화 S*/
body{
    margin: 0 auto;
    max-width: 800px;
    min-width: 360px;
    background:#fff;
}
ul,ol,dl,dt,dd{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
/*스타일 초기화 E*/
/*공통 스타일 S*/
.montserrat{
    font-family: "Montserrat", sans-serif;
}
h3{
    font-size: 1.538rem;
    color: #212121;
    text-align: center;
    line-height: 1;
    padding: 20px;
    margin: 0;
}
/*공통 스타일 E*/
/*헤더 스타일 S*/
header .site-top .logo img{
    height: 34px;
}
header .site-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 15px 13px;
    border-bottom :1px solid #e6e6e6;
}
header .site-top .left,.right{
    width:30%;
    height:34px;
    font-size: 2rem;
}
header .site-top .left i{
    margin-right:22px;
}
header .site-top .right i{
    margin-left:22px;
}
header .site-top .logo{
    text-align: center;
    width:40%;
}header .site-top .right{
    width:30%;
    text-align: right;
}
nav div{
    width: 44px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 9px;
    cursor: pointer;
}
nav {
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    font-weight: 700;
    font-size: 20px;
    line-height: 49px;
    height: 50px;
    position: relative;
}
nav .page_location .xi-angle-left-thin ::before{
    width: 44px;
    height: 30px;
}
/*헤더 스타일 E*/
main .login_box{
    background-color: #ededed;
}
main .login_box .login{
    padding: 30px 15px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfe1e5;
    margin-bottom: 10px;
}
main fieldset{
    border: 0;
    margin: 0;
    padding: 0;
}
main fieldset legend{
    font-size: 17px;
    color: #333333;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 19px;
}
main .login_box .login #loginId, #loginPwd{
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 45px;
    font-size: 1rem;
    border-radius: 3px;
    padding: 0 10px;
}
main .login_box .login #loginPwd{
    margin-bottom: 15px;
}
main .inp_chk label{
    margin-right: 15px;
    font-size: 12px;
    color: #212121;
    cursor: pointer;
}
main .login_box .submit{
    margin-top: 25px;
}
main .login_box .submit input{
    width: 100%;
    background-color: #8769f0;
    color: #fff;
    height: 45px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: 15px;
    display: block;
}
form{
    margin: 0;
}
main .login_box .login_find{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
main .login_find li{
    line-height: 1;
    position: relative;
}
main .login_find li:before{
    width: 1px;
    height: 11px;
    content: '';
    background-color: #212121;
    display: block;
    position: absolute;
    line-height: 1;
}
main .login_find li:first-child::before{
    display: none;
}
main .login_find a{
    font-size: 12px;
    color: #212121;
    padding: 0 15px;
}
main .sns_login_wrap{
    background-color: #fff;
    padding: 30px 15px 45px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dfe1e5;
}
main .sns_login_wrap .tit{
    font-size: 17px;
    color: #333;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}